@model FabSet_Project.Models.Signup

@{
    ViewData["Title"] = "Details";
}

<div class="bg data">
    <h1 style="margin:0;">Details</h1>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retype)
        </dd>
    </dl>
    <a class="btn-pri" asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a class="btn-pri" asp-action="Index">Back to List</a>
</div>
