@model IEnumerable<FabSet_Project.Models.Signup>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn-pri" asp-action="Create">Create New</a>
</p>
<table id="list-tab" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retype)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retype)
            </td>
            <td>
                <a class="btn-pri" asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a class="btn-pri" asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a class="btn-pri" asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
